{{ $t := .Site.GetPage "footer.md" }}
<footer>
  <div id="kontakt" style="background:url({{partial "imgUrl" (dict "img" $t.Params.hintergrundbild "params" "q_80" )}}) center center no-repeat; background-size:cover">
    <div class="ui container">
      <h2>{{$t.Params.uberschrift}}</h2>
      <div class="ui three column grid stackable mobile reversed">
        <div class="column">
          <div class="imgcol" style="background:url({{partial "imgUrl" (dict "img" $t.Params.logo_footer "params" "q_80" )}}) right bottom no-repeat; background-size:contain">

          </div>
        </div>
        <div class="column">
          {{$t.Params.kontakt_links | safeHTML}}
        </div>
        <div class="column">
          {{$t.Params.kontakt_rechts | safeHTML}}
        </div>
      </div>
    </div>
  </div>
  <div id="footermenu">
    <div class="ui container">
      <div class="footermenu">
        {{ $currentPage := . }} {{ range .Site.Menus.footer }}
        <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
      </div>
      <a class="eblink" href="http://elvirabeck-design.de" target="_blank">elvira.beck | design</a>
    </div>
  </div>
</footer>